{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<article id="post">
    <header class="photo {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
        <h1 class="container">{{title}}</h1>
    </header>
    <main class="container content" role="main">
        <article class="post">
            <header class="post-header container">
                <a class="back-link pull-left fa fa-angle-left" href="javascript:void(0)"><span> Back</span></a>
                <section class="post-meta pull-right">
                    <i class="fa fa-clock-o"></i>
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>on<span class="tags">{{tags autolink="false" prefix="" suffix="" }}</span>
                </section>
            </header>
            <section class="post-content">
                {{content}}
            </section>
            <section class="share">
                <table>
                    <tr>
                        <td>
                            <iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href={{url absolute="true"}}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </td>
                        <td>
                            <div class="g-plusone" data-size="medium" data-href="{{url absolute="true"}}"></div>
                        </td>
                        <td>
                            <div class="twitter-share">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-via="banguit" data-url="{{url absolute="true"}}">Tweet</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </section>
            <div id="disqus_thread"></div>
        </article>
    </main>
</article>

{{/post}}
